# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
build/
*.tsbuildinfo

# Env files
.env
.env.local
.env.*.local
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Docker
docker-data/

# Misc
*.pem
.turbo/
